include README.rst
include CHANGES.rst

include setup.cfg

recursive-include liger_iris_pipeline *.py *.pyx *.c *.pxd *.yaml
recursive-include docs *
recursive-include licenses *
recursive-include cextern *
recursive-include scripts *
recursive-include liger_iris_pipeline/tests *.py *.ipynb
recursive-include liger_iris_pipeline/tests/data *

prune build
prune docs/_build
prune docs/api

global-exclude *.pyc *.o
